<div class="container-fluid bg-dark">
    <div class="container top-container">
        <div class="profile-img">
            <img src="images/john.jpg" alt="..." class="thumbnail">
        </div>
        <div class="card card-body">
            <div class="profile">
                <h4 style="margin: 0;padding: 0;">Hi, My Name is</h4>
                <h1>John Doe</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et
                    dolore magna aliqua.
                </p>
                <a href="/contact" class="btn btn-primary">Hire Me</a>
            </div>
        </div>
    </div>
</div>