<div class="container-fluid bg-info">
    <div class="container project-container">
        <h2 class="text-center text-light">Featured Projects</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="images/code1.jpg" alt=".." class="project-img">
            </div>
            <div class="col-lg-6">
                <div class="card card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="images/code3.jpg" alt=".." class="project-img">
            </div>
        </div>
        <div class="project-btn">
            <a href="/allprojects" class="btn btn-dark">View All</a>
        </div>
    </div>
</div>