<%- include ("partials/header") %>

<!-- navbar -->
<%- include ("partials/navbar") %>
<!-- navbar -->

<div class="container-fluid bg-info text-light">
    <div class="container">
        <h1>Resume</h1>
    </div>
</div>
<br>
<div class="container resume-container">
    <div class="row bg-dark text-light">
        <div class="col-lg-3">
            <img src="images/john.jpg" alt="..." class="resume-img">
        </div>
        <div class="col-lg-4">
            <h1>John Doe</h1>
            <p style="margin: 0;padding:0;"><a href=""><i class="fas fa-envelope"></i> johndoe@gmail.com</a></p>
            <p><a href=""><i class="fas fa-phone"></i> 123456678</a></p>
        </div>
        <div class="col-lg-4">
            <p>
                <a href=""><i class="fab fa-linkedin"></i> Linkedin</a>
            </p>
            <p>
                <a href=""><i class="fab fa-github"></i> GitHub</a>
            </p>
            <p>
                <a href=""><i class="fab fa-instagram"></i> Instagram</a>
            </p>
            <p>
                <a href=""><i class="fab fa-twitter"></i> Twitter</a>
            </p>
        </div>
    </div>
    <div class="container work-container">
        <div class="summary">
            <h3>Career Summary</h3>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur.
            </p>
        </div>
        <div class="workexperience">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-body">
                        <h3>Work Experience</h3>
                        <hr>
                        <h4>Input you Positon</h4>
                        <span>Date</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="card card-body">
                        <h4>Input you Positon</h4>
                        <span>Date</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="card card-body">
                        <h4>Input you Positon</h4>
                        <span>Date</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body">
                        <h3>Skills and Tools</h3>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">Input Skills</li>
                            <li class="list-group-item">Input Skills</li>
                            <li class="list-group-item">Input Skills</li>
                            <li class="list-group-item">Input Skills</li>
                        </ul>
                    </div>
                    <div class="card card-body">
                        <h3>Education</h3>
                        <hr>
                        <h4>Name of School</h4>
                        <h5>Course Persued</h5>
                        <span>Date</span>
                    </div>
                    <div class="card card-body">
                        <h3>Awards</h3>
                        <hr>
                        <h4>Award Title</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.
                        </p>
                    </div>
                    <div class="card card-body">
                        <h3>Hobbies</h3>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">Hobbies</li>
                            <li class="list-group-item">Hobbies</li>
                            <li class="list-group-item">Hobbies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<%- include ("partials/footercont") %>
<!-- footer -->

<%- include ("partials/footer") %>